@model SYE.Models.CheckYourAnswersVm

<gds-row>

    <gds-column desktop-size="FullWidth" tablet-size="FullWidth">

        <gds-heading heading-type="H2" text="Check your answers before sending your feedback"></gds-heading>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            @foreach (var pageVm in Model.FormVm.Pages)
            {
                foreach (var question in pageVm.Questions.Where(m => !string.IsNullOrEmpty(m.Answer)))
                {

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            @if (string.IsNullOrEmpty(question.Question))
                            {
                                <text>@pageVm.PageName</text>
                            }
                            else
                            {
                                <text>@question.Question</text>
                            }
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @question.Answer
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="@Url.Action("Index", "Form", new { id = pageVm.PageId} )">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                            </a>
                        </dd>
                    </div>

                }
            }

        </dl>

    </gds-column>

</gds-row>

<gds-row>

    <gds-column desktop-size="TwoThirds" tablet-size="FullWidth">

        <form asp-action="Index" method="post">



            <gds-heading heading-type="H3" text="Would you like a confirmation email?"></gds-heading>

            <gds-paragraph>
                We will keep your email address confidential. We will only use it to let you know we have received your feedback. The longest we will store it is 24 hours.
            </gds-paragraph>

            <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    @Html.CheckBoxFor(m => m.SendConfirmationEmail, new { @class = "govuk-checkboxes__input" })
                    <label class="govuk-label govuk-checkboxes__label" for="SendConfirmationEmail">
                        Yes, send me an email to confirm you have received my feedback
                    </label>
                </div>
            </div>

            <gds-paragraph>&nbsp;</gds-paragraph>

            <gds-heading heading-type="H3" text="Would you like a confirmation email?"></gds-heading>

            <p class="govuk-body">
                You are about to send feedback about The Thatched House Dental Practice.
            </p>

            <gds-button button-text="Submit Feedback" button-type="Submit"></gds-button>

        </form>

    </gds-column>

</gds-row>