@using Microsoft.Azure.Search.Common
@using SYE.Models
@model SYE.ViewModels.SearchResultsVM
@{
    ViewData["Title"] = "SearchResults";
}
<gds-row>

    <gds-column desktop-size="FullWidth" tablet-size="FullWidth">

        <gds-heading heading-type="H3" text="Search results for"></gds-heading>

        <gds-row>
            <gds-column desktop-size="TwoThirds" tablet-size="FullWidth">

                <form asp-action="SearchResults" method="get">
                    <input type="hidden" id="selectedFacets" name="selectedFacets" value="@Model.SelectedFacets" />
                    <div class="govuk-form-group">
                        <input class="govuk-input" style="height: 40px; width: 80%; margin: 0; padding: 5px 10px; float: left" id="search" name="search" type="text" value="@Model.Search">
                        <input type="image" name="submit" src="~/images/search.png" style="height: 40px; vertical-align: middle" />
                    </div>
                </form>

            </gds-column>
        </gds-row>

    </gds-column>

</gds-row>

<gds-row>
    <gds-column desktop-size="FullWidth" tablet-size="FullWidth">
        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    I can't find the service I want to tell you about
                </span>
            </summary>
            <div class="govuk-details__text">

                <div class="govuk-form-group">
                    <label class="govuk-label" for="more-detail">
                        Tell us anything you can about the name of the service and where it is
                    </label>
                    <span id="more-detail-hint" class="govuk-hint">
                        We will use what you tel us to try to identify it
                    </span>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>

                    <gds-button button-type="Button" button-text="Continue"></gds-button>

                </div>
            </div>
        </details>

    </gds-column>
</gds-row>

<gds-row>
    <gds-column desktop-size="OneThird" tablet-size="FullWidth">
        <details class="govuk-details">
            <summary class="govuk-details__summary" style="border-style: none">
                <select class="govuk-select" style="height: 100%; width: 300px; background-color: #ccc; border: none">
                    <option>Type of service</option>
                </select>
            </summary>
            @if (Model.Facets.Count > 0)
            { 
                <div class="govuk-details__text">
                    <div class="govuk-form-group">
                        <form id="frm_facets" asp-action="SearchResults" method="get">
                            @for (var index = 0; index < Model.Facets.Count; index++)
                            {
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" asp-for="@Model.Facets[index].Selected" type="checkbox">
                                    <label class="govuk-label govuk-checkboxes__label" asp-for="@Model.Facets[index].Text" style="font-size: 18px">
                                        @Model.Facets[index].Text
                                    </label>
                                    <input asp-for="@Model.Facets[index].Selected" value="false" type="hidden" />
                                    <input asp-for="@Model.Facets[index].Text" type="hidden" />
                                    <input asp-for="@Model.Facets[index].Value" type="hidden" />
                                </div>
                            }
                            <input type="hidden" asp-for="Search" />
                            <br />
                            <gds-button button-type="Submit" button-text="Apply"></gds-button>
                        </form>
                    </div>
                </div>
            }
        </details>
    </gds-column>

    <gds-column desktop-size="TwoThirds" tablet-size="FullWidth">

        <div id="search-results">

            <gds-row>
                <gds-column desktop-size="TwoThirds" tablet-size="FullWidth">
                    <label class="govuk-link">@Model.Count results found</label>
                </gds-column>
            </gds-row>


            @foreach (var result in Model.Data)
            {
            <form id="frm_@result.Id" asp-action="SelectLocation" method="post">
                <input id="ProviderId" name="ProviderId" value="" type="hidden" />
                <input id="LocationId" name="LocationId" value="@result.Id" type="hidden" />
                <input id="LocationName" name="LocationName" value="@result.Name" type="hidden" />

                <gds-row>
                    <gds-column desktop-size="TwoThirds" tablet-size="FullWidth">
                        <a href="javascript:;" onclick="document.getElementById('frm_@result.Id').submit();">
                            <gds-heading heading-type="H4" text="@result.Name"></gds-heading>
                        </a>
                        <p class="govuk-body">
                            @result.Category<br />
                            @result.Address<br />
                            @result.Town<br />
                            @result.PostCode<br />
                        </p>
                    </gds-column>
                </gds-row>
            </form>
            }

        </div>

        @if (Model.TotalPages > 1)
        {
        <form asp-action="SearchResults" method="get">
            <input type="hidden" id="search" name="search" value="@Model.Search" />
            <input type="hidden" id="selectedFacets" name="selectedFacets" value="@Model.SelectedFacets" />

            <div class="govuk-body paging-wrapper">

                <gds-row>
                    <gds-column desktop-size="FullWidth" tablet-size="FullWidth">
                        @if (Model.ShowPrev)
                            {
                        <a asp-route-search="@(Model.Search)" asp-route-pageNo="@(Model.CurrentPage - 1)" asp-route-selectedFacets="@(Model.SelectedFacets)" class="govuk-link">
                            <img style="height: 15px; vertical-align: middle; background: transparent" src="~/images/arrow-left.png"><b> Previous Page</b><br />
                            @(Model.CurrentPage - 1) of @Model.TotalPages
                        </a>
                            }
                    </gds-column>
                </gds-row>

                <gds-row>
                    <gds-column desktop-size="FullWidth" tablet-size="FullWidth">
                        @if (Model.ShowNext)
                            {
                        <a asp-route-search="@(Model.Search)" asp-route-pageNo="@(Model.CurrentPage + 1)" asp-route-selectedFacets="@(Model.SelectedFacets)" class="govuk-link">
                            <img style="height: 15px; vertical-align: middle; background: transparent" src="~/images/arrow-right.png"><b> Next Page</b><br />
                            @(Model.CurrentPage + 1) of @Model.TotalPages
                        </a>
                            }
                    </gds-column>
                </gds-row>

            </div>
        </form>
        }
    </gds-column>

</gds-row>

