@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--BuildNumber: @(Configuration.GetValue<string>("ApplicationSettings:BuildNumber"))-->

    <title>@(Configuration.GetValue<string>("ApplicationSettings:AppName")) - Care Quality Commission</title>

    <meta name="theme-color" content="#5f2861" />

    @if (Configuration.GetValue<bool>("AnalyticsConfiguration:GoogleAnalytics:SiteTag:Enabled") == true)
    {
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="@string.Concat("//www.googletagmanager.com/gtag/js?id=", Configuration.GetValue<string>("AnalyticsConfiguration:GoogleAnalytics:SiteTag:GA_MEASUREMENT_ID"))"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', '@(Configuration.GetValue<string>("AnalyticsConfiguration:GoogleAnalytics:SiteTag:GA_MEASUREMENT_ID"))');
        </script>
    }
    @if (Configuration.GetValue<bool>("AnalyticsConfiguration:Hotjar:Enabled") == true)
    {
        <!-- Hotjar Tracking Code -->
        <script>
            (function (h, o, t, j, a, r) {
                h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
                h._hjSettings = { hjid: @(Configuration.GetValue<string>("AnalyticsConfiguration:Hotjar:Id")), hjsv: @(Configuration.GetValue<string>("AnalyticsConfiguration:Hotjar:SnippetVersion")) };
                a = o.getElementsByTagName('head')[0];
                r = o.createElement('script'); r.async = 1;
                r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
                a.appendChild(r);
            })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
        </script>
    }

    <link rel="shortcut icon" href="~/assets/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" href="~/css/govuk-frontend-2.4.1.min.css" asp-append-version="true" />
    <!--[if lt IE 9]>
        <link href="~/css/govuk-frontend-ie8-2.4.1.min.css" rel="stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body class="govuk-template__body">
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    <a href="#content" class="govuk-skip-link">Skip to main content</a>

    <gds-header>

        <gds-header-container>

            <gds-logo url="/" url-title="" image-url="/images/cqc-logo.png" alt-text="Share Your Experience"></gds-logo>

            <gds-header-content>

            </gds-header-content>

        </gds-header-container>

    </gds-header>


    <gds-container>

        <gds-phase-banner phase="Beta" url="@Url.Action("Feedback", "Help")"></gds-phase-banner>

        @if (ViewBag.ShowBackButton != false)
        {
            if (!string.IsNullOrWhiteSpace(ViewBag.PreviousPage))
            {
                <gds-back-link link-text="Back" href="@(ViewBag.PreviousPage)"></gds-back-link>
            }
            else
            {
                <gds-back-link link-text="Back" href="#" onclick="history.go(-1);return false;"></gds-back-link>
            }
        }

        <gds-main-wrapper id="content" role="main">

            @RenderBody()
            
        </gds-main-wrapper>

    </gds-container>

    <footer class="govuk-footer " role="contentinfo">
        <div class="govuk-width-container ">
            <div class="govuk-footer__meta">
                <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                    <h2 class="govuk-visually-hidden">Support links</h2>
                    <ul class="govuk-footer__inline-list">
                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link" href="@Url.Action("Index", "HowWeUseYourInformation")">
                                How we use your information
                            </a>
                        </li>
                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link" href="@Url.Action("Index", "Cookies")">
                                Cookies
                            </a>
                        </li>
                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link" href="https://www.cqc.org.uk/about-us/our-policies/terms-conditions" target="_blank">
                                Terms and conditions
                            </a>
                        </li>
                        <li class="govuk-footer__inline-list-item">
                            © Care Quality Commission
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="~/js/govuk-frontend-2.4.1.min.js" asp-append-version="true"></script>
    <script>window.GOVUKFrontend.initAll()</script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
