@using GDSHelpers
@using Microsoft.AspNetCore.Http
@model GDSHelpers.Models.FormSchema.PageVM

@{
    Layout = "_Layout";
}

<gds-row>

    <gds-column desktop-size="TwoThirds" tablet-size="FullWidth">

        <form asp-action="Index" asp-controller="Form" method="post">

            @Html.HiddenFor(m => m.PageId)
            @Html.AntiForgeryToken()

            @if (!string.IsNullOrEmpty(Model.PageName))
            {
                <gds-heading heading-type="H1" text="@Model.PageName"></gds-heading>
            }

            @Html.RenderPreAmble(Model)

            @if (Model.Questions != null)
            {
                foreach (var question in Model.Questions)
                {
                    @Html.GdsQuestion(question)
                }
            }

            @Html.RenderPostAmble(Model)


            @if (Model.Buttons != null)
            {
                foreach (var button in Model.Buttons)
                {
                    @Html.GdsButton(button.ButtonType, button.ButtonText)
                }
            }

        </form>

    </gds-column>

</gds-row>


